body{
	background-color: black;
	color: white;
}

.topHr{
	position: relative;
	border: none; 
    background-color: white;
    color: white;
    height: 4em; 
}

.logo{
		position: absolute;
		top: 6px;
		left: 6px;
}

.back{
	text-decoration: none;
	font-family: sans-serif;
	color: black;
	position: absolute;
	top: 35%;
	left: 20%;
}

.mostpopular{
	position: absolute;
	top: 35%;
	left: 25%;
	text-decoration: none;
	font-family: sans-serif;
	color: black;
}

.random{
	position: absolute;
		top: 35%;
		left: 34.5%;
		text-decoration: none;
		font-family: sans-serif;
		color: black;
}

.submitgif{
	position: absolute;
		top: 35%;
		left: 41.5%;
		text-decoration: none;
		font-family: sans-serif;
		color: black;
}

.logOut{
	position: absolute;
		top: 35%;
		left: 90%;
		text-decoration: none;
		font-family: sans-serif;
		color: black;
}

.deleteUrl{
	text-decoration: none;
	font-family: sans-serif;
	color: white;
}

.deleteAll{

text-decoration: none;
	font-family: sans-serif;
	color: white;	
}

.welcome{
	text-align: left;
	font-family: sans-serif;
	color: white;
	font-size: large;
}
.inputForm{
	text-align: left;
	font-family: sans-serif;
	color: white;
	
}
#addGif{
	outline: 0;
	border: none;
	width: 26em;
	background: transparent;
	border-bottom: 1px solid #80ff80;
	font-family: sans-serif;
	color: white;
}
#addSubmit{
	outline: 0;
	border: none;
	background: transparent;
	color: white;
	font-family: sans-serif;
	font-size:large;
	cursor: pointer;
}
.content{
	margin: auto;
	text-align: left;
}