body{
	background-color: black;
}

.topHr{
	position: relative;
	border: none; 
    background-color: white;
    color: white;
    height: 4em; 
}

.logo{
		position: absolute;
		top: 6px;
		left: 6px;
}

.mostpopular{
	position: absolute;
	top: 35%;
	left: 20%;
	text-decoration: none;
	font-family: sans-serif;
	color: black;
}

.random{
	position: absolute;
		top: 35%;
		left: 31%;
		text-decoration: none;
		font-family: sans-serif;
		color: black;
}

.account{
	position: absolute;
		top: 35%;
		left: 50%;
		text-decoration: none;
		font-family: sans-serif;
		color: black;
}

.submitgif{
	position: absolute;
		top: 35%;
		left: 40%;
		text-decoration: none;
		font-family: sans-serif;
		color: black;
}

.singleResult{
	position:absolute;
	color:white;
	top:40%;
	left: 40%;
}

#singleGif{
	outline: 0;
	border: none;
	background: transparent;
	border-bottom: 1px solid #1890ff;
	font-family: sans-serif;
	color: white;
}
#singleSubmit{
	outline: 0;
	border: none;
	background: transparent;
	color: white;
	font-family: sans-serif;
	font-size: medium;
	cursor: pointer;
}
.searchGif{
	position:absolute;
	color:white;
	top:50%;
	left: 40%;
	color:white;
}

#searchGifs{
	outline: 0;
	border: none;
	background: transparent;
	border-bottom: 1px solid #fc3227;
	font-family: sans-serif;
	color: white;
}
#gifsSubmit{
	outline: 0;
	border: none;
	background: transparent;
	color: white;
	font-family: sans-serif;
	font-size: medium;
	cursor: pointer;
}