body{
	background-color: black;
	color:white;
	font-family: sans-serif;
}

.topHr{
	position: relative;
	border: none; 
    background-color: white;
    color: white;
    height: 4em; 
}

.logo{
		position: absolute;
		top: 6px;
		left: 6px;
}

.back{
	text-decoration: none;
	font-family: sans-serif;
	color: black;
	position: absolute;
	top: 35%;
	left: 20%;
}

.mostpopular{
	position: absolute;
	top: 35%;
	left: 25%;
	text-decoration: none;
	font-family: sans-serif;
	color: black;
}

.random{
	position: absolute;
		top: 35%;
		left: 34.5%;
		text-decoration: none;
		font-family: sans-serif;
		color: black;
}

.submitgif{
	position: absolute;
		top: 35%;
		left: 41.5%;
		text-decoration: none;
		font-family: sans-serif;
		color: black;
}
.content{
	position: absolute;
	top:30%;
	left:44%;
	margin: auto;
	text-align: center;
}
#registrateUsername{
	outline: 0;
	border: none;
	background: transparent;
	border-bottom: 1px solid #80ff80;
	font-family: sans-serif;
	color: white;
}
#registratePassword{
	outline: 0;
	border: none;
	background: transparent;
	border-bottom: 1px solid #80ff80;
	font-family: sans-serif;
	color: white;
}
#registrateFirstName{
	outline: 0;
	border: none;
	background: transparent;
	border-bottom: 1px solid #80ff80;
	font-family: sans-serif;
	color: white;
}
#registrateLastName{
	outline: 0;
	border: none;
	background: transparent;
	border-bottom: 1px solid #80ff80;
	font-family: sans-serif;
	color: white;
}
#registrateEmail{
	outline: 0;
	border: none;
	background: transparent;
	border-bottom: 1px solid #80ff80;
	font-family: sans-serif;
	color: white;
}
#registrateDateOfBirth{
	outline: 0;
	border: none;
	background: transparent;
	border-bottom: 1px solid #80ff80;
	font-family: sans-serif;
	color: white;
}
#registrateSubmit{
	outline: 0;
	border: none;
	background: transparent;
	color: white;
	font-family: sans-serif;
	font-size:large;
	cursor: pointer;
}