<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<title>
My Account
</title>
<link th:href="@{account.css}" rel="stylesheet">
</head>
<body>
<div class="topHr">
<img class="logo" src="GIPHY Logo 300px.png" alt="logo"/>
<a id="back" class="back" href="/">Back</a>
<a id="mostpopular" class="mostpopular" href="/mostPopular">Most Popular</a>
<a id="random" class="random" href="/random">Random</a>
<a id="submitgif" class="submitgif" href="/submitGifToEmail">Send GIF</a>
<a id="logout" class="logOut" href="/logout">Log Out</a>
</div>

<div class="welcome">
<p>
Welcome <span th:text ="${userGif.username}"></span>
</p>
</div>
<div class="inputForm">
<form th:action="@{/addGifToDb}" th:object="${gifAdd}" method="get">
<p><input id="addGif" placeholder="Gif URL..." th:field="${gifAdd.url}">
<input id="addSubmit" type="submit" value="Add"></p>
</form>
</div>

<a class="deleteAll" href="/account/deleteAll">Delete All</a> 

<div class="content">
<dl  th:each = "url : ${urlsFromDb}">
<dt><img th:src = "${url.value}" /></dt>
<dt th:text = "${url.value}"/>
<dt><a class="deleteUrl" th:href="@{/account/delete/{fUrl}(fUrl=${url.key})}">Delete</a></dt>
</dl>
</div>
<script src="javascript/home.js"></script>
</body>
</html>