<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<title>
Contact Us
</title>
<link href="contactUs.css" rel="stylesheet"/>
</head>
<body>
<div class="topHr">
<img class="logo" src="GIPHY Logo 300px.png" alt="logo"/>
<a id="back" class="back" href="/">Back</a>
<a id="mostpopular" class="mostpopular" href="/mostPopular">Most Popular</a>
<a id="random" class="random" href="/random">Random</a>
<a id="submitgif" class="submitgif" href="/submitGifToEmail">Send GIF</a>
<a id="account" class="account" href="/account">My Account</a>
</div>
<div class="sendGifToMail">
<form th:action="@{/sendContactUsMsg}" th:object="${user}" method="get">
      <p><input id="enterEmail" type="text" placeholder="Enter your email..." th:field="${user.email}" /></p>
    	    	    	  <p><textarea id="enterText"  placeholder="Your text..." th:field="${user.text}"></textarea></p>
    	<input id="sendSubmit" type="submit" value="Send" /> 
</form>
</div>
<script src="javascript/home.js"></script>
<script src="javascript/home1.js"></script></body>
</html>