<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<title>
GIPH
</title>
<link th:href="@{popular.css}" rel="stylesheet"/>
</head>
<body>
<div class="topHr">
<img class="logo" src="GIPHY Logo 300px.png" alt="logo"/>
<a id="back" class="back" href="/">Back</a>
<a id="mostpopular" class="mostpopular" href="/mostPopular">Most Popular</a>
<a id="random" class="random" href="/random">Random</a>
<a id="submitgif" class="submitgif" href="/submitGifToEmail">Send GIF</a>
<a id="account" class="account" href="/account">My Account</a>
</div>
<table class="table" border="1">
<tbody>
 <tr th:each="giph: ${giphs}">
    <th align="center" width="180" th:text="${giph.title}" />
        <td align="center" th:text="${giph.url}" />
                    <td> <img width="300" height="200" th:src="${giph.url}"/> </td>
                </tr>
                </tbody>
</table>
<script src="javascript/home.js"></script>
</body>
</html>