<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<title>
GIPH
</title>
<link th:href="@{random.css}" rel="stylesheet"/>
</head>
<body>
<div class="topHr">
<img class="logo" src="GIPHY Logo 300px.png" alt="logo"/>
<a class="back" href="/">Back</a>
<a class="mostpopular" href="/mostPopular">Most Popular</a>
<a class="random" href="/random">Random</a>
<a class="submitgif" href="/submitGifToEmail">Send GIF</a>
<a class="account" href="/account">My Account</a>
</div>
<p><img th:src="${gif.url}"></p>
<p th:text="${gif.url}"/>


</body>
</html>