<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<title>
GIPH
</title>
<link th:href="@{random.css}" rel="stylesheet"/>
</head>
<body>
<div class="topHr">
<img class="logo" src="GIPHY Logo 300px.png" alt="logo"/>
<a id="back" class="back" href="/">Back</a>
<a id="mostpopular" class="mostpopular" href="/mostPopular">Most Popular</a>
<a id="random" class="random" href="/random">Random</a>
<a id="submitgif" class="submitgif" href="/submitGifToEmail">Send GIF</a>
<a id="account" class="account" href="/account">My Account</a>
</div>
<h2  th:if="${gif.url == null}">No results</h2>

<div class="content">
<p><img th:src="${gif.url}"></p>
<p th:text="${gif.url}"/>
</div>
<script src="javascript/home.js"></script>
</body>
</html>