<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<title>Registration</title>
</head>
<link th:href="@{registration.css}" rel="stylesheet"/>
<body>
<div class="topHr">
<img class="logo" src="GIPHY Logo 300px.png" alt="logo"/>
<a id="back" class="back" href="/login">Back</a>
<a id="mostpopular" class="mostpopular" href="/mostPopular">Most Popular</a>
<a id="random" class="random" href="/random">Random</a>
<a id="submitgif" class="submitgif" href="/submitGifToEmail">Send GIF</a>
</div>
<div class="content">
<form th:action="@{/registrationProcess}" th:object="${registration}" method="get">
<p><input id="registrateUsername" placeholder="Username" type="text" th:field=*{username}></p>
<p><input id="registratePassword" placeholder="Password" type="password" th:field=*{password}></p>
<p><input id="registrateFirstName" placeholder="First Name" type="text" th:field=*{firstName}></p>
<p><input id="registrateLastName" placeholder="Last Name" type="text" th:field=*{lastName}></p>
<p><input id="registrateEmail" placeholder="Email" type="text" th:field=*{email}></p>
<p><input id="registrateDateOfBirth" placeholder="yyyy-mm-dd" type="text" th:field=*{dateOfBirth}></p>


<p><input id="registrateSubmit" type="submit" value="Register">
</form>
</div>
<script src="javascript/home.js"></script>
</body>
</html>