<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<title>
Send GIPH
</title>
<link th:href="@{sendMailPage.css}" rel="stylesheet"/>
</head>
<body>
<div class="topHr">
<img class="logo" src="GIPHY Logo 300px.png" alt="logo"/>
<a id="back" class="back" href="/">Back</a>
<a id="mostpopular" class="mostpopular" href="/mostPopular">Most Popular</a>
<a id="random" class="random" href="/random">Random</a>
<a id="account" class="account" href="/account">My Account</a>
<a id="contactUs" class="contactUs" href="/contactUs">Contact Us</a>
</div>
<div class="sendGifToMail">
<form th:action="@{/sendGif}" th:object="${user}" method="get">
      <p><input id="enterEmail" type="text" placeholder="Enter email..." th:field="${user.email}" /></p>
    	    	  <p><input id="enterSubject" type="text" placeholder="Enter subject..." th:field="${user.subject}" /></p>
    	    	    	  <p><input id="enterGif" type="text" placeholder="Enter GIF link..." th:field="${user.gifUrl}" /></p>
    	<input id="sendSubmit" type="submit" value="Send" /> 
</form>
</div>
<script src="javascript/home.js"></script>
<script src="javascript/home1.js"></script></body>
</html>